/* @group Plugin config */

#plugin_mite_config {
	width:500px;
	margin: 1em auto;
	border: 1px solid #aaa;
	padding: 0.5em;
	background:#F6F6F6;
}

.mite_user_account_active {
	background: url(../images/mite-logo-active.png) no-repeat right bottom;
}

.mite_user_account_inactive {
	background: url(../images/mite-logo-inactive.png) no-repeat right bottom;
}

#plugin_mite_config h2 {
	font-size: 12pt;
	background: #62c1cd;
	color: white;
	padding: 0.25em;
	margin: 0;
}

#plugin_mite_config .config_fields {
	padding: 0.25em;
}

#plugin_mite_config p.bindings_help {
	
	color: #888888;
	font-size: 90%;
	line-height: 150%;
	margin: 0 0 0.5em 0;
}

#plugin_mite_config hr {
	border: 0;
	border-top: 1px solid #aaa;
	padding-bottom: 0.5em;
}

#plugin_mite_config label {
	display: block;
	font-weight: bold;
	margin: 0.7em 0 0.25em 0;
}

.formularButtons {
	margin: 1.5em 0 0.5em 0;
	padding: 0;
}

.formularButtons .buttonsLeft {
	float: left;
	padding: 0;

}

.formularButtons .buttonsRight {
	float: right;
	padding: 0;

}

.formularButtons .clearBoth {
	clear: both;
}


#plugin_mite_config fieldset {
	border: 1px solid #aaa;
	margin-top: 2em;
}
	
#plugin_mite_config	fieldset legend {
	font-style: italic;
}
		
#plugin_mite_config	input.readonly {
	color: #666;
}


#plugin_mite_config span.linkChangeValue {
	float: right;
	margin-right: 12em;
}

#plugin_mite_config a,#plugin_mite_config a:visited {
	color: #5e7edb;
}

div.plugin_mite_positive_connection_status, div.plugin_mite_negative_connection_status {
	padding: .3em;
	margin: 0.5em 0;
	font-size: 85%;
}

.plugin_mite_positive_connection_status {
	border: 1px solid #C6D880;
	background: #E6EFC2;
	color: #529214;
}

.plugin_mite_negative_connection_status {
	background: #FBE3E4;
	color: #D12F19;
	border: 1px solid #FBC2C4;
}

#plugin_mite_connection_status span {
	font-size: 90%;
}


#plugin_mite_config .readonly {
	color: #666;
}

#plugin_mite_user_bindings {
	display: none;
	padding: 0;
}

#plugin_mite_user_bindings .note_pattern {
	width: 95%;
}

#plugin_mite_account_name {
	width: 135px;
}

#plugin_mite_account_api_key {
	width: 255px;
}


/* @end */



/* @group Time entries */

.plugin_mite_time_entries {
	padding: 0.5em;
}

.plugin_mite_time_entries div {
	padding: 0;
}

.plugin_mite_time_entries a, .plugin_mite_time_entries a:visited {
	color: #2385D2;
}

.plugin_mite_time_entries table tfoot td {
	border-top: 1px solid #888;
}

.plugin_mite_time_entries table td.label_total_hours {
	text-align: right;
	font-weight: bold;
	font-size: 90%;
	color: #2a2a2a;
}


.plugin_mite_time_entries table thead th {
	border-bottom: 1px solid #888;
	font-size: 90%;
	color: #2a2a2a;
}

.plugin_mite_time_entries table {
	border-spacing:0px;
	border-collapse:collapse;
}

.plugin_mite_time_entries table td, .plugin_mite_time_entries table th {
	padding: 0.3em 1em 0.3em 0;
}

.plugin_mite_time_entries table tbody td {
	border-top: 1px dashed #888;	
}

.plugin_mite_time_entries table tbody td.firstRow {
	border-top: 0;
}

.plugin_mite_time_entries table td.column_hours,
.plugin_mite_time_entries table th.column_hours {
	border-left: 1px solid #888;
	padding-left: 0.3em;
	padding-right: 0;
	text-align: right;
}

#plugin_mite_link_show_new_time_entry_form {
	margin: 1em 0;
	display: block;
	background: url(../images/time_add.png) no-repeat left top;
	padding-left: 20px;
}


#plugin_mite_new_time_entry {
	width: 400px;
	margin-bottom: 2em;
	display: none;
}


#plugin_mite_new_time_entry .time_entry_param {
	padding: 0 0 0.5em 0;
}

#plugin_mite_new_time_entry .time_entry_param label{
	display: block;
	font-weight: bold;
	margin: 0.3em 0 0.25em 0
}

#plugin_mite_hours_new_time_entry {
	width: 4em;
}

#plugin_mite_note_new_time_entry {
	width: 95%;
	margin-top: 10px;
}

#plugin_mite_date_new_time_entry {
	width: 80px;
}

#plugin_mite_new_time_entry fieldset {
	border: 1px solid #aaa;

}
	
#plugin_mite_new_time_entry	fieldset legend {
	font-style: italic;
}


span.plugin_mite_user_input_helper {
	font-size: 9pt;
	padding: 0.4em 0.7em 0.4em 0.2em;
	width: 1.5em;
}

span.plugin_mite_user_input_helper a {
	text-decoration: none;	
}


span.plugin_mite_user_input_helper_text {
	font-size: 9pt;
	padding: 0.4em 0;
	color: #888888;
	cursor: pointer;
}

a.plugin_mite_time_entry_show_note {
	text-decoration: none;
	cursor: pointer;
	display: block;
	width: 16px;
	color: transparent;
	overflow: hidden;
	background: url(../images/note.png) no-repeat left top;
	height: 16px !important;
	height /**/:16px;
	display: block;
	margin-left: 10px;
}

a.plugin_mite_time_entry_show_note:visited {
	color: transparent;
}

a.plugin_mite_time_entry_show_note span {
	display: none;
}

a.plugin_mite_time_entry_show_note:hover span {
	display: block;
	position: absolute; 
    margin: -23px 0 0 -210px;
    width:200px;
	padding: 3px; 
    background: #ffffc7;
	color: black;
	border: 1px solid #b8b8b8; 
    font-size:85%;
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 3px 3px 10px;
}

#plugin_mite_time_entries h4{
	margin: 1.5em 0 0.5em 0;
}


.plugin_mite_time_entries_summary {
	float: right;
	margin-right: 0.25em;
	text-align: right;
	color: #2a2a2a;
}

span.plugin_mite_link_to_settings {
	display: block;
	font-weight: normal;
	margin-top: 0.3em;
	font-size: 90%;
}

/* @end */


/* @group Message boxes */



#plugin_mite_messages {
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 999;
	padding: 0;
}

#plugin_mite_messages small {
	text-align: left;
}

#plugin_mite_messages a, #plugin_mite_messages a:visited {
	color: #2385D2;
}

.errorMsg,
.cautionMsg, 
.successMsg  { 
	padding: 0;
	border: 1px solid #ddd;
	width: 300px;
	margin: 15px auto;
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 3px 3px 10px;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	display:none;
}

.errorMsg { 
	background: #FBE3E4;
	color: #D12F19;
	border-color: #FBC2C4;
}

.cautionMsg     { 
	background: #FFF6BF;
	color: #817134;
	border-color: #FFD324; 
}

.successMsg    { 
	background: #E6EFC2;
	color: #529214;
	border-color: #C6D880;
}

#plugin_mite_messages p {
	padding: 0.5em;
	margin: 0;
}

#plugin_mite_messages p strong {
	display: block;
	margin-bottom: 0.5em;
}

#plugin_mite_messages ul, #plugin_mite_messages li {
	margin-left: 0.5em;
	padding-left: 0;
}

#plugin_mite_messages a.closeBtn:hover {
	background-position: 0% -28px;
}

#plugin_mite_messages a.closeBtn {	
	margin:-10px;
	float: right;
	width: 28px;
	color: transparent;
	overflow: hidden;
	background: url(../images/close_btn.png) no-repeat left top;
	height: 28px !important;
	height /**/:28px;
	display: block;
	visibility: hidden;
}


/* @end */